.movie {
    margin-left: 10px;
    margin-top: 10px;
}

.gif {
    margin-right: 10px;
    margin-top: 10px;
}

body {
    background-image: url(../images/Disney_Background.jpg);
    background-size: auto;
    background-position: center;
}

.container {
    background-color: whitesmoke;
}

.row {
    margin-left: 10px;
}

.form-group {
    margin-left: 10px;
}

#submit {
    margin-left: 10px;
}

img {
    margin-left: 10px;
    margin-bottom: 10px;
}